* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    #f2f2f2;
}


.logo_form {
    align-items: center;
}

.logo {
    padding-bottom: 4%;
    
}


.main-section {
  display: flex;
  align-items: center;
  padding: 5% 0;
  flex-direction: column;
  width: auto;
  max-width: 548px;
}

.box {
    width: auto;
    max-width: 548px;
    min-width: 450px;
    height: 10px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfe1e5;
    height: 44px;
    display: flex;
    align-items: left;
    justify-content: left;
    display: flex;
}


.box:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.search {
    border: none;
}

.search-icon {
    
    text-align: left;
    margin-left: 5%;
}



.top-left-links {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-right: 10%;
    align-items: center;
    justify-content: center;
}

.top-right-links {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-right: 10%;
    display: flex;
    flex-wrap: nowrap;
}

.flex-item-3a {
    padding-right: 5%;
}

.flex-item-3b {
    padding-right: 5%;
}

.flex-item-3b {
    padding-right: 5%;
}

.flex-item-3c {
    padding-right: 5%;
}

.flex-item-3d {
    padding-right: 5%;
}

.flex-item-3e {
    padding-right: 5%;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.top-right-flex {
    display: flex;
    flex-wrap: nowrap;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-family: arial, sans-serif;
    color: black;
    margin: 0;
    padding: 1% 0;
}

.flex-item-1 {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.flex-item-2 {
    flex-grow: 5;
}

.flex-item-3 {
    flex-grow: 1;
    display: flex;
    padding-right: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;

}

button {
    border-radius: 2px!important; 
    outline: none !important; 
    border: 1px solid #4285f4 !important;
    top: 25px !important;
    font-weight: bold !important;
    background-color:  #4285f4 !important;
    opacity: 1 !important;
    color: white !important;
    height: 30px;
}

.signin-button {
    color: white;
}

.top-links {
    color: black;
}

#app-image {
    margin-top: 0;
}


.body-container {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}

#content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5rem;
}

.search-buttons {
   padding-top: 3%;
}

.search-buttons-ind {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa !important;
    margin: 11px 4px;
    -webkit-appearance: none;
    padding: 0 16px;
    font-size: 14px;
    margin: 11px 4px;
    border-radius: 4px;
    color: #5F6368;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    width: 100%;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 50px;
}

.bottom-links {
    text-decoration: none;
    color: #222;
    list-style: none;
    padding: 5px;
    color: #70757a;
    font-size: 14px;
}

.footer-left {
   
}

.footer-right {
    padding-right: 6%;
}










