#logo_form {
    text-align: center;
    margin-top: 20%;
    justify-content: center;
}

.logo {
    bottom: 0;
    justify-content: center;
}

input {
    background-image: url('search_black_24dp.svg'), url('mic_black_24dp.svg');
    background-repeat: no-repeat;
    background-position: left, right;
    background-position-x: 10px, 505px;
    padding-left: 50px;
    width: 500px;
    height: 40px;
    border: none;
    
}

.main-section {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.textbox {
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    width: 500px;
}


.top-left-links {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-right: 10%;
}

.top-right-links {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: arial, sans-serif;
    font-size: 13px;
    display: flex;
    flex-wrap: nowrap;
}

.flex-item-3a {
    padding-right: 5%;
}

.flex-item-3b {
    padding-right: 5%;
}

.flex-item-3b {
    padding-right: 5%;
}

.flex-item-3c {
    padding-right: 5%;
}

.flex-item-3d {
    padding-right: 5%;
}

.flex-item-3e {
    padding-right: 5%;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.top-right-flex {
    display: flex;
    flex-wrap: nowrap;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-family: arial, sans-serif;
    color: black;
    margin-top: 0;
    padding: 1% 1% 0 1%;
}

.flex-item-1 {
    flex-grow: 1;
}

.flex-item-2 {
    flex-grow: 5;
}

.flex-item-3 {
    flex-grow: 1;
    display: flex;
    padding-right: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;

}

button {
    border-radius: 2px!important; 
    outline: none !important; 
    border: 1px solid #4285f4 !important;
    top: 25px !important;
    font-weight: bold !important;
    background-color:  #4285f4 !important;
    opacity: 1 !important;
    color: white !important;
    height: 30px;
}

.signin-button {
    color: white;
}

.top-links {
    color: black;
}

#app-image {
    margin-top: 0;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    background-color: #f2f2f2;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
    flex: 100%;
    align-items: center;
}

.body-container {
    min-height: 100vh;
    position: relative;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

.footer-item {
    flex-grow: 1;
    align-items: center;
}

.bottom-links {
    color: #222;
    opacity: 0.75;
    text-decoration: none;
}

.footer-item-space {
    flex-grow: 5;
}











