#logo_form {
    text-align: center;
    margin-top: 20%;
    justify-content: center;
}

.logo {
    bottom: 0;
    justify-content: center;
}

input {
    background-image: url('search_black_24dp.svg'), url('mic_black_24dp.svg');
    background-repeat: no-repeat;
    background-position: left, right;
    background-position-x: 10px, 600px;
    padding-left: 50px;
    width: 600px;
    height: 40px;
    border: none;
    
}

.main-section {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.textbox {
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    width: 700px;
}

a {
    text-decoration: none;
    list-style-type: none;
    padding-right: 12px;
}




ul {
    list-style-type: none;
}

li {
    display: inline;
}

.top-left-navbar {
    display: inline;
    color: #000;
    margin-left: 4%;
    float: left;
    line-height: 24px;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 2%;
}

.top-right-navbar {
    display: inline;
    color: #000;
    float: right;
    line-height: 24px;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 2%;
}

.navbar {
    min-width: 165px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
}

#apps-icon {
    position: absolute;
    top: 25px;
}

button {
    border-radius: 2px!important; 
    outline: none !important; 
    border: 1px solid #4285f4 !important;
    top: 25px !important;
    font-weight: bold !important;
    background-color:  #4285f4 !important;
    opacity: 1 !important;
    color: white !important;
   height: 30px;
}







